# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtualenv
venv/
env/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Frontend (if included)
node_modules/
dist/
build/
